@tailwind base;
@tailwind components;
@tailwind utilities;

/* toggle styling */
input:checked ~ .dot {
    transform: translateX(100%);
    background-color: #48bb78;
  }

  input:checked ~ .dot {
    transform: translateX(100%);
    background-color: #48bb78;
  }